@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Bellefair', serif;
  color: #fff;
}

.p-barlow {
  font-family: 'Barlow', sans-serif;
  }

.p-barlow-condesed {
  font-family: 'Barlow Condensed', sans-serif;

}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

